.svg-facebook-dims {
	width: 19px;
	height: 19px;
}

.svg-inst-dims {
	width: 17px;
	height: 17px;
}

.svg-logo-dims {
	width: 122px;
	height: 52px;
}

.svg-slider_arrow-dims {
	width: 9px;
	height: 16px;
}

.svg-vk-dims {
	width: 23px;
	height: 23px;
}

