body {
    font-family: 'Gilroy';
    color: #2B2B2B;
    overflow-x: hidden;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

svg,
img {
    vertical-align: middle;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}